<html>

<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.1/noty.css"
        integrity="sha512-6YTHv/R1dstXBdoTxnFfblNnAdpATI/WQ4AvavGmn40Y8WZdlCKrHYzWEfRH/hn3ffhNtddly3xNTrHosheXug=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.1/noty.min.js"
></script>
    
   
    <%- style %>

    <title>
        <%= title%>
    </title>
</head>

<body>
    <% console.log(flash) %>

    <%- include('_header') %>
    

    <main id="layout-main">
        <%- body %>
    </main>
    <%- include('_footer') %>
    <%- script %>

   

    

    
        
        
    

    <script>
       <%if(flash.success && flash.success.length >0 ){ %>
            new Noty({
                theme:'relax',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
           <% } %>

             <%if (flash.error && flash.error.length > 0) { %>
                    new Noty({
                        theme: 'relax',
                        text: '<%= flash.error %>',
                        type: 'error',
                        layout: 'topRight',
                        timeout: 1500
                    }).show();
           <% } %>
    
    </script>   

    



</body>

</html>